<?xml version="1.0"?>
<!--
/**
 * Copyright © Ihor Oleksiienko (https://github.com/torys877)
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="cryptotoken" frontName="cryptotoken">
            <module name="Crypto_MagentoToken" />
        </route>
    </router>
</config>
